In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/indian-startup-funding/startup_funding.csv
/kaggle/input/xbchchchc/df_exploded1.csv
/kaggle/input/startupf/startupfinal.csv
/kaggle/input/startup-funding/df_explodes123.csv
/kaggle/input/sagar11/investor.csv

In [35]:
df = pd.read_csv('/kaggle/input/indian-startup-funding/startup_funding.csv')

In [36]:
df.sample(10)

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
1651,1652,28/06/2016,MySuperBrain,Consumer Internet,Online Talent Discovery Platform for Kids,Hyderabad,Soniks Consulting,Seed Funding,NaN,NaN
2156,2157,14/12/2015,Capricoast,Modular Furnishings Marketplace,NaN,Bangalore,"Accel Partners India, RB Investments",Private Equity,"35,00,000",Series A
2047,2048,14/01/2016,Buildkar,ECommerce,Construction Material Marketplace,Bangalore,"Mustafa Wajid, Umang Kumar & Others",Seed Funding,NaN,NaN
2136,2137,09/12/2015,JoeHukum,Chat based personal Assistant App,NaN,Gurgaon,"TracxnLabs, Jitendra Gupta, Prashant Tandon",Seed Funding,NaN,NaN
762,763,21/06/2017,Fynd,eCommerce,Fashion etailer,Mumbai,"IIFL Seed Ventures, Kae Capital, FJ Labs, Sing...",Private Equity,"24,00,000",NaN
1267,1268,04/10/2016,India Gifts Portal,eCommerce,Online Gifting platform,Noida,"Naveen Arya, Tarun Joshi",Private Equity,"20,00,000",NaN
1561,1562,21/07/2016,Wiwigo,Consumer Internet,Inter-City Taxi Booking platform,Bangalore,Indian Angel Network,Seed Funding,"5,95,000",NaN
1634,1635,23/06/2016,The Uolo,Consumer Internet,School Parent Communication App,Bangalore,"Purvi Ventures, Rajul Garg, Vipin Arora",Seed Funding,"2,10,000",NaN
1831,1832,04/03/2016,Arcatron Mobility,Technology,Smart wheelchair Design and Development,Pune,"Sudhir Mehta, Anoop Hingorani",Seed Funding,NaN,NaN
2595,2596,08/07/2015,33Coupons,Coupon Aggregator Platform,NaN,Kanpur,Not Disclosed,Seed Funding,"20,000",NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [38]:
df.drop(columns=['Remarks'],inplace=True)

In [39]:
df.set_index('Sr No',inplace=True)

In [40]:
df.rename(columns={
    'Date dd/mm/yyyy':'date',
    'Startup Name':'startup',
    'Industry Vertical':'vertical',
    'SubVertical':'subvertical',
    'City  Location':'city',
    'Investors Name':'investors',
    'InvestmentnType':'round',
    'Amount in USD':'amount'    
    
},inplace=True)

In [41]:
df

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"
...,...,...,...,...,...,...,...,...
3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000"
3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000"
3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000"
3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN
3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000"

In [42]:
df['amount'] = df['amount'].fillna('0')

In [43]:
df['amount'] = df['amount'].str.replace(',','')
df['amount'] = df['amount'].str.replace('undisclosed','0')
df['amount'] = df['amount'].str.replace('Undisclosed','0')
df['amount'] = df['amount'].str.replace('unknown','0')
df['amount'] = df['amount'].str.replace('+','0')

In [44]:
df = df[df['amount'].str.isdigit()]
df['amount'] = df['amount'].astype('float')

<ipython-input-44-8adf1c0cfd5a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount'] = df['amount'].astype('float')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3030 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3030 non-null   object
 1   startup      3030 non-null   object
 2   vertical     2859 non-null   object
 3   subvertical  2105 non-null   object
 4   city         2850 non-null   object
 5   investors    3006 non-null   object
 6   round        3028 non-null   object
 7   amount       3030 non-null   float64
dtypes: float64(1), object(7)
memory usage: 213.0+ KB

In [46]:
df=df[~df['investors'].isnull()]

In [47]:
df=df[~df['round'].isnull()]

In [48]:
df.shape

(3004, 8)

In [49]:
def to_inr(dollar):
    inr = dollar * 82.5
    return inr/10000000

In [50]:
df['amount'] = df['amount'].apply(to_inr)

In [51]:
df

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000
...,...,...,...,...,...,...,...,...
3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,37.125000
3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,6.806250
3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,12.375000
3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,0.000000
3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,1.155000

In [52]:
df['date'] = df['date'].str.replace('05/072018','05/07/2018')

In [53]:
df['date'] = pd.to_datetime(df['date'], format='mixed', errors='coerce')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3004 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3002 non-null   datetime64[ns]
 1   startup      3004 non-null   object
 2   vertical     2833 non-null   object
 3   subvertical  2085 non-null   object
 4   city         2824 non-null   object
 5   investors    3004 non-null   object
 6   round        3004 non-null   object
 7   amount       3004 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 211.2+ KB

In [55]:
df = df.dropna(subset=['date','startup','vertical','city','investors','round','amount'])

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2823 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2823 non-null   datetime64[ns]
 1   startup      2823 non-null   object
 2   vertical     2823 non-null   object
 3   subvertical  2079 non-null   object
 4   city         2823 non-null   object
 5   investors    2823 non-null   object
 6   round        2823 non-null   object
 7   amount       2823 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 198.5+ KB

In [57]:
df

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,2020-09-01,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,2020-02-01,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,2020-02-01,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000
...,...,...,...,...,...,...,...,...
2869,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,28.875000
2870,2015-04-29,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0.000000
2871,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,3.300000
2872,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,4.125000
2873,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,66.000000

In [26]:
df.to_csv('startup_cleaned.csv',index=False)

In [58]:
a1=df.copy()

In [64]:
# Identify indices where 'startup' contains 'xe2'
condition = a1['round'].str.contains('xe2', na=False)

# Update the rows at these indices (example: set them to 'UpdatedValue')
a1.loc[condition, 'round'] = a1.loc[condition, 'round'].str.split('\\').str[0]

# Print the updated DataFrame

In [65]:
a1

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,2020-09-01,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,2020-02-01,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,2020-02-01,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000
...,...,...,...,...,...,...,...,...
2869,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,28.875000
2870,2015-04-29,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0.000000
2871,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,3.300000
2872,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,4.125000
2873,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,66.000000

In [67]:
df3=a1.copy()

In [68]:
df3

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,2020-09-01,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,2020-02-01,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,2020-02-01,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000
...,...,...,...,...,...,...,...,...
2869,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,28.875000
2870,2015-04-29,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0.000000
2871,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,3.300000
2872,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,4.125000
2873,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,66.000000

In [69]:
df3 = df3.reset_index(drop=True)  # Reset index (removes the old index)
df3.index = df3.index

In [71]:
a1=df3

In [72]:
a1['startup']=a1['startup'].str.lower()

In [73]:
a1['vertical']=a1['vertical'].str.lower()

In [74]:
a1

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
1,2020-01-13,shuttl,transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
2,2020-09-01,mamaearth,e-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
4,2020-02-01,fashor,fashion and apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000
...,...,...,...,...,...,...,...,...
2818,2015-04-29,tracxn,startup analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,28.875000
2819,2015-04-29,dazo,mobile food ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0.000000
2820,2015-04-29,tradelab,financial markets software,NaN,Bangalore,Rainmatter,Seed Funding,3.300000
2821,2015-04-29,piqube,hiring analytics platform,NaN,Chennai,The HR Fund,Seed Funding,4.125000
2822,2015-04-29,travel triangle,online travel marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,66.000000

In [75]:
a1['subvertical']=a1['subvertical'].str.lower()

In [76]:
a1['city']=a1['city'].str.lower()

In [77]:
a1['investors']=a1['investors'].str.lower()

In [78]:
a1['round']=a1['round'].str.lower()

In [81]:
a1['round'].value_counts()

round
seed funding                   1423
private equity                 1261
series a                         24
debt funding                     23
series b                         19
series c                         14
series d                         12
pre-series a                      8
private equity round              4
corporate round                   2
venture round                     2
series e                          2
equity                            2
series f                          2
privateequity                     1
term loan                         1
structured debt                   1
debt                              1
private                           1
private funding                   1
equity based funding              1
series b (extension)              1
mezzanine                         1
debt-funding                      1
pre series a                      1
series j                          1
inhouse funding                   1
debt and preference capital       1
bridge round                      1
venture - series unknown          1
angel round                       1
angel                             1
single venture                    1
maiden round                      1
funding round                     1
venture                           1
series h                          1
series g                          1
angel funding                     1
Name: count, dtype: int64

In [80]:
a1.loc[a1['round'].str.contains('seed', na=False), 'round'] = 'seed funding'

In [85]:
df3['round'].value_counts()

round
seed funding                   1423
private equity                 1261
series funding                   87
debt funding                     23
private equity round              4
angel round                       3
venture round                     2
corporate round                   2
equity                            2
funding round                     1
debt-funding                      1
term loan                         1
structured debt                   1
private                           1
private funding                   1
equity based funding              1
mezzanine                         1
debt                              1
inhouse funding                   1
debt and preference capital       1
venture                           1
bridge round                      1
single venture                    1
maiden round                      1
privateequity                     1
Name: count, dtype: int64

In [83]:
a1.loc[a1['round'].str.contains('angel', na=False), 'round'] = 'angel round'

In [84]:
a1.loc[a1['round'].str.contains('series', na=False), 'round'] = 'series funding'

In [86]:
a1['city'].value_counts()

city
bangalore                 698
mumbai                    555
new delhi                 421
gurgaon                   285
bengaluru                 135
                         ...
missourie                   1
panaji                      1
hubli                       1
kerala                      1
new delhi / california      1
Name: count, Length: 104, dtype: int64

In [88]:
df3=a1

In [94]:
df4=df3.copy()

In [95]:
# Split the 'investor' column into lists
df4['city'] = df4['city'].str.split('/')

# Explode the DataFrame to create a new row for each investor
df_exploded = df4.explode('city')

# Optional: Strip whitespace from the investor names
df_exploded['city'] = df_exploded['city'].str.strip()

print("Transformed DataFrame:")
print(df_exploded)

Transformed DataFrame:
           date                       startup                    vertical  \
0    2020-09-01                        byju’s                      e-tech
1    2020-01-13                        shuttl              transportation
2    2020-09-01                     mamaearth                  e-commerce
3    2020-02-01  https://www.wealthbucket.in/                     fintech
4    2020-02-01                        fashor         fashion and apparel
...         ...                           ...                         ...
2818 2015-04-29                        tracxn  startup analytics platform
2819 2015-04-29                          dazo    mobile food ordering app
2820 2015-04-29                      tradelab  financial markets software
2821 2015-04-29                        piqube   hiring analytics platform
2822 2015-04-29               travel triangle   online travel marketplace

                                subvertical       city  \
0                                e-learning  bengaluru
1                 app based shuttle service    gurgaon
2     retailer of baby and toddler products  bengaluru
3                         online investment  new delhi
4               embroiled clothes for women     mumbai
...                                     ...        ...
2818                                    NaN  bangalore
2819                                    NaN  bangalore
2820                                    NaN  bangalore
2821                                    NaN    chennai
2822                                    NaN      noida

                                              investors                 round  \
0                               tiger global management  private equity round
1                             susquehanna growth equity        series funding
2                                 sequoia capital india        series funding
3                                        vinod khatumal        series funding
4                               sprout venture partners          seed funding
...                                                 ...                   ...
2818                                      saif partners        private equity
2819  sumit jain, aprameya radhakrishna, alok goel, ...          seed funding
2820                                         rainmatter          seed funding
2821                                        the hr fund          seed funding
2822           bessemer venture partners, saif partners        private equity

           amount
0     1650.000000
1       66.399250
2      151.460595
3       24.750000
4       14.850000
...           ...
2818    28.875000
2819     0.000000
2820     3.300000
2821     4.125000
2822    66.000000

[2860 rows x 8 columns]

In [103]:
# Split the 'investor' column into lists
df_exploded['investors'] = df_exploded['investors'].str.split(',')

# Explode the DataFrame to create a new row for each investor
df_exploded = df_exploded.explode('investors')

# Optional: Strip whitespace from the investor names
df_exploded['investors'] = df_exploded['investors'].str.strip()

print("Transformed DataFrame:")
print(df_exploded)

Transformed DataFrame:
           date                       startup                    vertical  \
0    2020-09-01                        byju’s                      e-tech
1    2020-01-13                        shuttl              transportation
2    2020-09-01                     mamaearth                  e-commerce
3    2020-02-01  https://www.wealthbucket.in/                     fintech
4    2020-02-01                        fashor         fashion and apparel
...         ...                           ...                         ...
2819 2015-04-29                          dazo    mobile food ordering app
2820 2015-04-29                      tradelab  financial markets software
2821 2015-04-29                        piqube   hiring analytics platform
2822 2015-04-29               travel triangle   online travel marketplace
2822 2015-04-29               travel triangle   online travel marketplace

                                subvertical       city  \
0                                e-learning  bengaluru
1                 app based shuttle service    gurgaon
2     retailer of baby and toddler products  bengaluru
3                         online investment  new delhi
4               embroiled clothes for women     mumbai
...                                     ...        ...
2819                                    NaN  bangalore
2820                                    NaN  bangalore
2821                                    NaN    chennai
2822                                    NaN      noida
2822                                    NaN      noida

                      investors                 round       amount
0       tiger global management  private equity round  1650.000000
1     susquehanna growth equity        series funding    66.399250
2         sequoia capital india        series funding   151.460595
3                vinod khatumal        series funding    24.750000
4       sprout venture partners          seed funding    14.850000
...                         ...                   ...          ...
2819           ashish dev kapur          seed funding     0.000000
2820                 rainmatter          seed funding     3.300000
2821                the hr fund          seed funding     4.125000
2822  bessemer venture partners        private equity    66.000000
2822              saif partners        private equity    66.000000

[6557 rows x 8 columns]

In [161]:
df4=df_exploded

In [156]:
df3

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.000000
1,2020-01-13,shuttl,transportation,app based shuttle service,gurgaon,susquehanna growth equity,series funding,66.399250
2,2020-09-01,mamaearth,e-commerce,retailer of baby and toddler products,bengaluru,sequoia capital india,series funding,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,online investment,new delhi,vinod khatumal,series funding,24.750000
4,2020-02-01,fashor,fashion and apparel,embroiled clothes for women,mumbai,sprout venture partners,seed funding,14.850000
...,...,...,...,...,...,...,...,...
5424,2015-04-29,dazo,mobile food ordering app,NaN,bangalore,ashish dev kapur,seed funding,0.000000
5425,2015-04-29,tradelab,financial markets software,NaN,bangalore,rainmatter,seed funding,3.300000
5426,2015-04-29,piqube,hiring analytics platform,NaN,chennai,the hr fund,seed funding,4.125000
5427,2015-04-29,travel triangle,online travel marketplace,NaN,noida,bessemer venture partners,private equity,66.000000
5428,2015-04-29,travel triangle,online travel marketplace,NaN,noida,saif partners,private equity,66.000000

In [100]:
df_exploded[df_exploded['vertical'].str.contains('/')]

,date,startup,vertical,subvertical,city,investors,round,amount
2364,2015-07-09,youthkiawaaz,community driven news/views platform,NaN,new delhi,"raghav bahl, ritu kapur",seed funding,4.95000
2537,2015-01-07,cloudcherry analytics,crm / analytics platform,NaN,chennai,"the chennai angels, idg ventures india",seed funding,8.25000
2593,2015-07-23,jetsetgo,private jet/ helicopter marketplace,NaN,new delhi,yourwecan ventures,seed funding,0.00000
2595,2015-07-25,shopatplaces,ethnic/ traditional fashion store,NaN,new delhi,indian angel network,seed funding,0.00000
2646,2015-08-06,postergully,artist / designer marketplace,NaN,new delhi,"natarajan iyer,rajesh sawhney,\\xc2\\xa0",seed funding,0.00000
2646,2015-08-06,postergully,artist / designer marketplace,NaN,new delhi,other angel investors.,seed funding,0.00000
2669,2015-06-18,hansa customer equity,it / customer engagement consulting,NaN,mumbai,ask pravi,private equity,41.25000
2697,2015-06-29,adwyze,marketing / advertising automation platform,NaN,bangalore,mape advisory,seed funding,8.25000
2769,2015-08-04,mobikwik,digital / mobile wallet,NaN,gurgaon,"tree line asia, cisco investments, american ex...",private equity,206.25000
2773,2015-09-04,changer mints,digital / mobile wallet,NaN,kolkata,hyderabad based investor,seed funding,1.36125
2785,2015-04-15,grofers,hyper-local online/mobile grocery,NaN,gurgaon,"tiger global, sequoia capital",private equity,288.75000
2786,2015-04-15,peppertap,hyper-local online/mobile grocery,NaN,gurgaon,"saif partners, sequoia capital",private equity,82.50000
2795,2015-04-20,freshdesk,online / mobile customer support,NaN,chennai,"tiger global, google capital",private equity,412.50000
2795,2015-04-20,freshdesk,online / mobile customer support,NaN,chennai,accel partners,private equity,412.50000
2815,2015-04-28,naaptol.com,tele-shopping / ecommerce,NaN,mumbai,mitsui,private equity,177.37500
2815,2015-04-28,naaptol.com,tele-shopping / ecommerce,NaN,mumbai,co,private equity,177.37500
2815,2015-04-28,naaptol.com,tele-shopping / ecommerce,NaN,mumbai,existing investors,private equity,177.37500
2816,2015-04-29,reglobe,used gadgets buy / refurbishing,NaN,gurgaon,"bessemer ventures, blume ventures",seed funding,8.25000

In [169]:
# Split the 'investor' column into lists
df_exploded['vertical'] = df_exploded['vertical'].str.split('/')

# Explode the DataFrame to create a new row for each investor
df_exploded = df_exploded.explode('vertical')

# Optional: Strip whitespace from the investor names
df_exploded['vertical'] = df_exploded['vertical'].str.strip()

print("Transformed DataFrame:")
print(df_exploded)

Transformed DataFrame:
            date                       startup                    vertical  \
0     2020-09-01                        byju’s                      e-tech
1     2020-01-13                        shuttl              transportation
2     2020-09-01                     mamaearth                  e-commerce
3     2020-02-01  https://www.wealthbucket.in/                     fintech
4     2020-02-01                        fashor         fashion and apparel
...          ...                           ...                         ...
5424  2015-04-29                          dazo    mobile food ordering app
5425  2015-04-29                      tradelab  financial markets software
5426  2015-04-29                        piqube   hiring analytics platform
5427  2015-04-29               travel triangle   online travel marketplace
5428  2015-04-29               travel triangle   online travel marketplace

                                subvertical       city  \
0                                e-learning  bengaluru
1                 app based shuttle service    gurgaon
2     retailer of baby and toddler products  bengaluru
3                         online investment  new delhi
4               embroiled clothes for women     mumbai
...                                     ...        ...
5424                                    NaN  bangalore
5425                                    NaN  bangalore
5426                                    NaN    chennai
5427                                    NaN      noida
5428                                    NaN      noida

                      investors                 round       amount   investor
0       tiger global management  private equity round  1650.000000  bengaluru
1     susquehanna growth equity        series funding    66.399250    gurgaon
2         sequoia capital india        series funding   151.460595  bengaluru
3                vinod khatumal        series funding    24.750000  new delhi
4       sprout venture partners          seed funding    14.850000     mumbai
...                         ...                   ...          ...        ...
5424           ashish dev kapur          seed funding     0.000000  bangalore
5425                 rainmatter          seed funding     3.300000  bangalore
5426                the hr fund          seed funding     4.125000    chennai
5427  bessemer venture partners        private equity    66.000000      noida
5428              saif partners        private equity    66.000000      noida

[5536 rows x 9 columns]

In [104]:
df_exploded

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.000000
1,2020-01-13,shuttl,transportation,app based shuttle service,gurgaon,susquehanna growth equity,series funding,66.399250
2,2020-09-01,mamaearth,e-commerce,retailer of baby and toddler products,bengaluru,sequoia capital india,series funding,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,online investment,new delhi,vinod khatumal,series funding,24.750000
4,2020-02-01,fashor,fashion and apparel,embroiled clothes for women,mumbai,sprout venture partners,seed funding,14.850000
...,...,...,...,...,...,...,...,...
2819,2015-04-29,dazo,mobile food ordering app,NaN,bangalore,ashish dev kapur,seed funding,0.000000
2820,2015-04-29,tradelab,financial markets software,NaN,bangalore,rainmatter,seed funding,3.300000
2821,2015-04-29,piqube,hiring analytics platform,NaN,chennai,the hr fund,seed funding,4.125000
2822,2015-04-29,travel triangle,online travel marketplace,NaN,noida,bessemer venture partners,private equity,66.000000
2822,2015-04-29,travel triangle,online travel marketplace,NaN,noida,saif partners,private equity,66.000000

In [182]:
df_exploded.drop(['investor'],axis=1,inplace=True)

In [183]:
df_exploded

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.000000
1,2020-01-13,shuttl,transportation,app based shuttle service,gurgaon,susquehanna growth equity,series funding,66.399250
2,2020-09-01,mamaearth,e-commerce,retailer of baby and toddler products,bengaluru,sequoia capital india,series funding,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,online investment,new delhi,vinod khatumal,series funding,24.750000
4,2020-02-01,fashor,fashion and apparel,embroiled clothes for women,mumbai,sprout venture partners,seed funding,14.850000
...,...,...,...,...,...,...,...,...
5424,2015-04-29,dazo,mobile food ordering app,NaN,bangalore,ashish dev kapur,seed funding,0.000000
5425,2015-04-29,tradelab,financial markets software,NaN,bangalore,rainmatter,seed funding,3.300000
5426,2015-04-29,piqube,hiring analytics platform,NaN,chennai,the hr fund,seed funding,4.125000
5427,2015-04-29,travel triangle,online travel marketplace,NaN,noida,bessemer venture partners,private equity,66.000000
5428,2015-04-29,travel triangle,online travel marketplace,NaN,noida,saif partners,private equity,66.000000

In [186]:
.to_csv('explodedd',index=False)

In [187]:
df_exploded.to_csv('df_exploded.csv',index=False)

In [195]:
df_exploded['city']=df_exploded['city'].apply(lambda x: "".join(x) if isinstance(x, list) else str(x) if pd.notna(x) else "")

In [196]:
df_exploded

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.000000
1,2020-01-13,shuttl,transportation,app based shuttle service,gurgaon,susquehanna growth equity,series funding,66.399250
2,2020-09-01,mamaearth,e-commerce,retailer of baby and toddler products,bengaluru,sequoia capital india,series funding,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,online investment,new delhi,vinod khatumal,series funding,24.750000
4,2020-02-01,fashor,fashion and apparel,embroiled clothes for women,mumbai,sprout venture partners,seed funding,14.850000
...,...,...,...,...,...,...,...,...
5424,2015-04-29,dazo,mobile food ordering app,NaN,bangalore,ashish dev kapur,seed funding,0.000000
5425,2015-04-29,tradelab,financial markets software,NaN,bangalore,rainmatter,seed funding,3.300000
5426,2015-04-29,piqube,hiring analytics platform,NaN,chennai,the hr fund,seed funding,4.125000
5427,2015-04-29,travel triangle,online travel marketplace,NaN,noida,bessemer venture partners,private equity,66.000000
5428,2015-04-29,travel triangle,online travel marketplace,NaN,noida,saif partners,private equity,66.000000

In [197]:
df_exploded['investors']=df_exploded['investors'].apply(lambda x: "".join(x) if isinstance(x, list) else str(x) if pd.notna(x) else "")

In [198]:
df_exploded

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.000000
1,2020-01-13,shuttl,transportation,app based shuttle service,gurgaon,susquehanna growth equity,series funding,66.399250
2,2020-09-01,mamaearth,e-commerce,retailer of baby and toddler products,bengaluru,sequoia capital india,series funding,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,online investment,new delhi,vinod khatumal,series funding,24.750000
4,2020-02-01,fashor,fashion and apparel,embroiled clothes for women,mumbai,sprout venture partners,seed funding,14.850000
...,...,...,...,...,...,...,...,...
5424,2015-04-29,dazo,mobile food ordering app,NaN,bangalore,ashish dev kapur,seed funding,0.000000
5425,2015-04-29,tradelab,financial markets software,NaN,bangalore,rainmatter,seed funding,3.300000
5426,2015-04-29,piqube,hiring analytics platform,NaN,chennai,the hr fund,seed funding,4.125000
5427,2015-04-29,travel triangle,online travel marketplace,NaN,noida,bessemer venture partners,private equity,66.000000
5428,2015-04-29,travel triangle,online travel marketplace,NaN,noida,saif partners,private equity,66.000000

In [199]:
df_exploded.to_csv('df_exploded1.csv',index=False)

In [215]:
a1.to_csv('startupfinal.csv',index=False)

a1

In [4]:
import pandas as pd

In [19]:
a1=pd.read_csv('/kaggle/input/xbchchchc/df_exploded1.csv')

In [20]:
a1['investors'].str.split('and')

0         [tiger global management]
1       [susquehanna growth equity]
2           [sequoia capital india]
3                  [vinod khatumal]
4         [sprout venture partners]
                   ...
5531            [ ashish dev kapur]
5532                   [rainmatter]
5533                  [the hr fund]
5534    [bessemer venture partners]
5535               [ saif partners]
Name: investors, Length: 5536, dtype: object

In [21]:
# Split the 'investor' column into lists
a1['investors'] = a1['investors'].str.split('and')

# Explode the DataFrame to create a new row for each investor
df_exploded = a1.explode('investors')

# Optional: Strip whitespace from the investor names
df_exploded['investors'] = df_exploded['investors'].str.strip()

print("Transformed DataFrame:")
print(df_exploded)

Transformed DataFrame:
            date                       startup                    vertical  \
0     2020-09-01                        byju’s                      e-tech
1     2020-01-13                        shuttl              transportation
2     2020-09-01                     mamaearth                  e-commerce
3     2020-02-01  https://www.wealthbucket.in/                     fintech
4     2020-02-01                        fashor         fashion and apparel
...          ...                           ...                         ...
5531  2015-04-29                          dazo    mobile food ordering app
5532  2015-04-29                      tradelab  financial markets software
5533  2015-04-29                        piqube   hiring analytics platform
5534  2015-04-29               travel triangle   online travel marketplace
5535  2015-04-29               travel triangle   online travel marketplace

                                subvertical       city  \
0                                e-learning  bengaluru
1                 app based shuttle service    gurgaon
2     retailer of baby and toddler products  bengaluru
3                         online investment  new delhi
4               embroiled clothes for women     mumbai
...                                     ...        ...
5531                                    NaN  bangalore
5532                                    NaN  bangalore
5533                                    NaN    chennai
5534                                    NaN      noida
5535                                    NaN      noida

                      investors                 round       amount
0       tiger global management  private equity round  1650.000000
1     susquehanna growth equity        series funding    66.399250
2         sequoia capital india        series funding   151.460595
3                vinod khatumal        series funding    24.750000
4       sprout venture partners          seed funding    14.850000
...                         ...                   ...          ...
5531           ashish dev kapur          seed funding     0.000000
5532                 rainmatter          seed funding     3.300000
5533                the hr fund          seed funding     4.125000
5534  bessemer venture partners        private equity    66.000000
5535              saif partners        private equity    66.000000

[6051 rows x 8 columns]

In [17]:
# Split the 'investor' column into lists
a1['investors'] = a1['investors'].str.split('/')

# Explode the DataFrame to create a new row for each investor
df_exploded = a1.explode('investors')

# Optional: Strip whitespace from the investor names
df_exploded['investors'] = df_exploded['investors'].str.strip()

print("Transformed DataFrame:")
print(df_exploded)

AttributeError: Can only use .str accessor with string values!

In [24]:
# Split the 'investor' column into lists
df_exploded['investors'] = df_exploded['investors'].str.split('&')

# Explode the DataFrame to create a new row for each investor
df_exploded = df_exploded.explode('investors')

# Optional: Strip whitespace from the investor names
df_exploded['investors'] = df_exploded['investors'].str.strip()

print("Transformed DataFrame:")
print(df_exploded)

Transformed DataFrame:
            date                       startup                    vertical  \
0     2020-09-01                        byju’s                      e-tech
1     2020-01-13                        shuttl              transportation
2     2020-09-01                     mamaearth                  e-commerce
3     2020-02-01  https://www.wealthbucket.in/                     fintech
4     2020-02-01                        fashor         fashion and apparel
...          ...                           ...                         ...
5531  2015-04-29                          dazo    mobile food ordering app
5532  2015-04-29                      tradelab  financial markets software
5533  2015-04-29                        piqube   hiring analytics platform
5534  2015-04-29               travel triangle   online travel marketplace
5535  2015-04-29               travel triangle   online travel marketplace

                                subvertical       city  \
0                                e-learning  bengaluru
1                 app based shuttle service    gurgaon
2     retailer of baby and toddler products  bengaluru
3                         online investment  new delhi
4               embroiled clothes for women     mumbai
...                                     ...        ...
5531                                    NaN  bangalore
5532                                    NaN  bangalore
5533                                    NaN    chennai
5534                                    NaN      noida
5535                                    NaN      noida

                      investors                 round       amount
0       tiger global management  private equity round  1650.000000
1     susquehanna growth equity        series funding    66.399250
2         sequoia capital india        series funding   151.460595
3                vinod khatumal        series funding    24.750000
4       sprout venture partners          seed funding    14.850000
...                         ...                   ...          ...
5531           ashish dev kapur          seed funding     0.000000
5532                 rainmatter          seed funding     3.300000
5533                the hr fund          seed funding     4.125000
5534  bessemer venture partners        private equity    66.000000
5535              saif partners        private equity    66.000000

[6309 rows x 8 columns]

In [25]:
df_exploded

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.000000
1,2020-01-13,shuttl,transportation,app based shuttle service,gurgaon,susquehanna growth equity,series funding,66.399250
2,2020-09-01,mamaearth,e-commerce,retailer of baby and toddler products,bengaluru,sequoia capital india,series funding,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,online investment,new delhi,vinod khatumal,series funding,24.750000
4,2020-02-01,fashor,fashion and apparel,embroiled clothes for women,mumbai,sprout venture partners,seed funding,14.850000
...,...,...,...,...,...,...,...,...
5531,2015-04-29,dazo,mobile food ordering app,NaN,bangalore,ashish dev kapur,seed funding,0.000000
5532,2015-04-29,tradelab,financial markets software,NaN,bangalore,rainmatter,seed funding,3.300000
5533,2015-04-29,piqube,hiring analytics platform,NaN,chennai,the hr fund,seed funding,4.125000
5534,2015-04-29,travel triangle,online travel marketplace,NaN,noida,bessemer venture partners,private equity,66.000000
5535,2015-04-29,travel triangle,online travel marketplace,NaN,noida,saif partners,private equity,66.000000

In [26]:
# Split the 'investor' column into lists
df_exploded['investors'] = df_exploded['investors'].str.split('And')

# Explode the DataFrame to create a new row for each investor
df_exploded = df_exploded.explode('investors')

# Optional: Strip whitespace from the investor names
df_exploded['investors'] = df_exploded['investors'].str.strip()

print("Transformed DataFrame:")
print(df_exploded)

Transformed DataFrame:
            date                       startup                    vertical  \
0     2020-09-01                        byju’s                      e-tech
1     2020-01-13                        shuttl              transportation
2     2020-09-01                     mamaearth                  e-commerce
3     2020-02-01  https://www.wealthbucket.in/                     fintech
4     2020-02-01                        fashor         fashion and apparel
...          ...                           ...                         ...
5531  2015-04-29                          dazo    mobile food ordering app
5532  2015-04-29                      tradelab  financial markets software
5533  2015-04-29                        piqube   hiring analytics platform
5534  2015-04-29               travel triangle   online travel marketplace
5535  2015-04-29               travel triangle   online travel marketplace

                                subvertical       city  \
0                                e-learning  bengaluru
1                 app based shuttle service    gurgaon
2     retailer of baby and toddler products  bengaluru
3                         online investment  new delhi
4               embroiled clothes for women     mumbai
...                                     ...        ...
5531                                    NaN  bangalore
5532                                    NaN  bangalore
5533                                    NaN    chennai
5534                                    NaN      noida
5535                                    NaN      noida

                      investors                 round       amount
0       tiger global management  private equity round  1650.000000
1     susquehanna growth equity        series funding    66.399250
2         sequoia capital india        series funding   151.460595
3                vinod khatumal        series funding    24.750000
4       sprout venture partners          seed funding    14.850000
...                         ...                   ...          ...
5531           ashish dev kapur          seed funding     0.000000
5532                 rainmatter          seed funding     3.300000
5533                the hr fund          seed funding     4.125000
5534  bessemer venture partners        private equity    66.000000
5535              saif partners        private equity    66.000000

[6309 rows x 8 columns]

In [105]:
df_exploded[df_exploded['investors'].isnull()]

Empty DataFrame
Columns: [date, startup, vertical, subvertical, city, investors, round, amount]
Index: []

In [127]:
df_exploded[df_exploded['startup'].str.contains('ola')]['investors'].nunique()

46

In [113]:
df_exploded = df_exploded.reset_index(drop=True)  # Reset index (removes the old index)
df_exploded.index = df_exploded.index

In [117]:
df_exploded

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.000000
1,2020-01-13,shuttl,transportation,app based shuttle service,gurgaon,susquehanna growth equity,series funding,66.399250
2,2020-09-01,mamaearth,e-commerce,retailer of baby and toddler products,bengaluru,sequoia capital india,series funding,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,online investment,new delhi,vinod khatumal,series funding,24.750000
4,2020-02-01,fashor,fashion and apparel,embroiled clothes for women,mumbai,sprout venture partners,seed funding,14.850000
...,...,...,...,...,...,...,...,...
6552,2015-04-29,dazo,mobile food ordering app,NaN,bangalore,ashish dev kapur,seed funding,0.000000
6553,2015-04-29,tradelab,financial markets software,NaN,bangalore,rainmatter,seed funding,3.300000
6554,2015-04-29,piqube,hiring analytics platform,NaN,chennai,the hr fund,seed funding,4.125000
6555,2015-04-29,travel triangle,online travel marketplace,NaN,noida,bessemer venture partners,private equity,66.000000
6556,2015-04-29,travel triangle,online travel marketplace,NaN,noida,saif partners,private equity,66.000000

In [133]:
df_exploded.loc[df_exploded['startup'].str.contains('byju', case=False, na=False), 'startup'] = 'byjus'

In [141]:
df_exploded.loc[df_exploded['startup'].str.contains('byju')]

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byjus,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.00
98,2019-10-07,byjus,edtech,education,bengaluru,qatar investment authority,private equity round,1237.50
1581,2017-07-25,byjus,consumer internet,mobile learning app,bangalore,tencent holdings,private equity,288.75
2186,2017-03-29,byjus,consumer internet,online education platform,bangalore,verlinvest,private equity,0.00
2584,2016-12-20,byjus,consumer internet,online learning platform,bangalore,international financial corporation,private equity,123.75
2989,2016-09-09,byjus,education,online learning app,bangalore,chan zuckerberg initiative,private equity,412.50
2990,2016-09-09,byjus,education,online learning app,bangalore,times internet ltd,private equity,412.50
2991,2016-09-09,byjus,education,online learning app,bangalore,sequoia capital,private equity,412.50
2992,2016-09-09,byjus,education,online learning app,bangalore,sofina,private equity,412.50
2993,2016-09-09,byjus,education,online learning app,bangalore,lightspeed ventures,private equity,412.50
4123,2016-03-22,byjus,consumer internet,educational video content creator,bangalore,sequoia india,private equity,618.75
4124,2016-03-22,byjus,consumer internet,educational video content creator,bangalore,sofina,private equity,618.75

In [145]:
df_exploded.loc[df_exploded['startup'].str.contains('blackbuck', case=False, na=False), 'startup'] = 'blackbuck'

In [164]:
df_exploded.to_csv('dfexplode45.csv',index=False)

In [172]:
df_exploded = df_exploded[~(df_exploded['investors']=='')]

In [184]:
df_exploded=df_exploded[~df_exploded['investors'].str.contains('xc')]

In [185]:
df_exploded=df_exploded[~df_exploded['investors'].str.contains('xe2')]

In [193]:
df_exploded[df_exploded['investors'].str.contains('other')]['investors'].value_counts()

investors
other investors                             189
other angel investors                         7
other undisclosed investors                   6
other unnamed investors                       4
other                                         3
other hnis                                    3
other individual investors                    2
other tech investors from silicon valley      1
other unnamed angel investors                 1
other marquee investors                       1
9 other angel investors                       1
other angel investors.                        1
Name: count, dtype: int64

In [192]:
df_exploded.loc[df_exploded['investors'].str.contains('others', case=False, na=False), 'investors'] = 'other investors'

In [195]:
df_exploded.to_csv('df_explodes123.csv',index=False)

In [5]:
import pandas as pd
import numpy as np 

df=pd.read_csv('/kaggle/input/startupf/startupfinal.csv')

In [37]:
df

,date,startup,vertical,subvertical,city,investors,round,amount
0,2020-09-01,byju’s,e-tech,e-learning,bengaluru,tiger global management,private equity round,1650.000000
1,2020-01-13,shuttl,transportation,app based shuttle service,gurgaon,susquehanna growth equity,series funding,66.399250
2,2020-09-01,mamaearth,e-commerce,retailer of baby and toddler products,bengaluru,sequoia capital india,series funding,151.460595
3,2020-02-01,https://www.wealthbucket.in/,fintech,online investment,new delhi,vinod khatumal,series funding,24.750000
4,2020-02-01,fashor,fashion and apparel,embroiled clothes for women,mumbai,sprout venture partners,seed funding,14.850000
...,...,...,...,...,...,...,...,...
2818,2015-04-29,tracxn,startup analytics platform,NaN,bangalore,saif partners,private equity,28.875000
2819,2015-04-29,dazo,mobile food ordering app,NaN,bangalore,"sumit jain, aprameya radhakrishna, alok goel, ...",seed funding,0.000000
2820,2015-04-29,tradelab,financial markets software,NaN,bangalore,rainmatter,seed funding,3.300000
2821,2015-04-29,piqube,hiring analytics platform,NaN,chennai,the hr fund,seed funding,4.125000
2822,2015-04-29,travel triangle,online travel marketplace,NaN,noida,"bessemer venture partners, saif partners",private equity,66.000000

In [25]:
df[df['startup']== 'ola cabs']['vertical'][1:2]

502    consumer internet
Name: vertical, dtype: object

In [38]:
x=df[df[df['startup'] == 'mamaearth']['vertical'].values[0] == df['vertical']]

In [41]:
x[x['startup']!= 'mamaearth'].sample(5)

,date,startup,vertical,subvertical,city,investors,round,amount
427,2017-12-12,shopholix,e-commerce,fashion and lifestyle coupon platform,gurgaon,munesh khanna,seed funding,1.92225
447,2017-12-26,specsmakers,e-commerce,online spects platform for men and women,chennai,eight roads ventures india,private equity,82.50000
437,2017-12-15,purplle,e-commerce,beauty products online marketplace,mumbai,"mountain pain capital, suncoast investments",seed funding,4.43025
85,2019-05-05,styledotme,e-commerce,fashion and shopping,delhi,indian angel network and other angel investors...,bridge round,0.00000
416,2017-07-12,the label life,e-commerce,home decor and online fashion portal,mumbai,kalpvriksh,private equity,25.57500

In [46]:
startup = 'buju'  # Example startup name

# Filter the DataFrame to find the vertical of the given startup
filtered = df[df['startup'] == startup]['vertical']

# Check if the entry is present
if not filtered.empty:
    # Extract the first vertical value
    vertical_value = filtered.values[0]
    # Filter the DataFrame where the vertical matches
    x = df[df['vertical'] == vertical_value]
    
else:
    # Handle the case where the entry is not present
    print(f"Entry for startup '{startup}' not present in the DataFrame.")

Entry for startup 'buju' not present in the DataFrame.

In [45]:
x.head(5)

,date,startup,vertical,subvertical,city,investors,round,amount
61,2019-03-07,ola cabs,transport,cabs,kormangala,"dig investment ab, deshe holdings, samih touka...",series funding,8.25
83,2019-06-05,ola electric,transport,cabs,bengaluru,tata sons,series funding,0.00
86,2019-01-05,blackbuck,transport,logistics,bengaluru,goldman sachs investment partners and silicon ...,series funding,1237.50
127,2018-11-13,driveu,transport,on-demand drivers,bengaluru,stevens creek ventures,mezzanine,8.25

In [48]:
startup = 'tata sons'  # Example startup name

# Filter the DataFrame to find the vertical of the given startup
filtered = df[df['investors'] == startup]['vertical']

# Check if the entry is present
if not filtered.empty:
    # Extract the first vertical value
    vertical_value = filtered.values[0]
    # Filter the DataFrame where the vertical matches
    x = df[df['vertical'] == vertical_value]
else:
    # Handle the case where the entry is not present
    print(f"Entry for startup '{startup}' not present in the DataFrame.")

In [49]:
x

,date,startup,vertical,subvertical,city,investors,round,amount
61,2019-03-07,ola cabs,transport,cabs,kormangala,"dig investment ab, deshe holdings, samih touka...",series funding,8.25
83,2019-06-05,ola electric,transport,cabs,bengaluru,tata sons,series funding,0.00
86,2019-01-05,blackbuck,transport,logistics,bengaluru,goldman sachs investment partners and silicon ...,series funding,1237.50
127,2018-11-13,driveu,transport,on-demand drivers,bengaluru,stevens creek ventures,mezzanine,8.25

In [53]:
df[df['amount']==df['amount'].sort_values(ascending=False)]

ValueError: Can only compare identically-labeled Series objects

In [ ]:
startup = 'tata sons'  # Example startup name

# Filter the DataFrame to find the vertical of the given startup
filtered = df[df['amount'] == startup]['vertical']

# Check if the entry is present
if not filtered.empty:
    # Extract the first vertical value
    vertical_value = filtered.values[0]
    # Filter the DataFrame where the vertical matches
    x = df[df['vertical'] == vertical_value]
else:
    # Handle the case where the entry is not present
    print(f"Entry for startup '{startup}' not present in the DataFrame.")

In [55]:
df_sorted = df.sort_values(by='amount', ascending=False)

In [56]:
df_sorted

,date,startup,vertical,subvertical,city,investors,round,amount
57,2019-08-27,rapido bike taxi,transportation,bike taxi,bengaluru,westbridge capital,series funding,32175.0
630,2017-11-08,flipkart,ecommerce,online marketplace,bangalore,softbank,private equity,20625.0
943,2017-03-21,flipkart,ecommerce,ecommerce marketplace,bangalore,"microsoft, ebay, tencent holdings",private equity,11550.0
808,2017-05-18,paytm,ecommerce,mobile wallet & ecommerce platform,bangalore,softbank group,private equity,11550.0
29,2019-11-25,paytm,fintech,mobile wallet,noida,vijay shekhar sharma,funding round,8250.0
...,...,...,...,...,...,...,...,...
1106,2016-07-12,tailslife,consumer internet,pet parenting mobile app,bangalore,"mohan kumar, v. balakrishnan",seed funding,0.0
1105,2016-07-12,bookeventz,consumer internet,"venue, events booking platform",mumbai,investors from mumbai angels & letsventure,seed funding,0.0
1992,2016-07-01,pitstop,consumer internet,automobile service booking app,bangalore,myntra/livspace founders,seed funding,0.0
1993,2016-07-01,bikxie,consumer internet,two wheeler taxi service,gurgaon,undisclosed investors,seed funding,0.0
1043,2017-01-14,secururax,technology,cloud-based solutions provider,bangalore,"axilor ventures, parampara early stage opportu...",private equity,0.0